/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 https://goo.gl/images/vyRpZy
 https://wallpapercave.com/w/j8eMFrM
 */
 header {
   text-align: center;
   background: url('space_background.jpg');
   background-size: cover;
   color: white;
 }
 a.headers_list {
   color: white;
 }

 a {
   color: black;
 }

 h1 {
   font-size: 70px;
 }
 img {
   margin: 40px 0px 0px 0px;
   border: 7px solid white;
   border-radius: 20px;
 }
 ul.header_list {
   padding: 10px;
   background: rgba(0,0,0,0.5);
 }
 li.inline_list {
   display: inline;
   padding: 0px 10px 0px 10px;
 }
 article {
   max-width: 500px;
   padding: 20px;
   margin: 0 auto;
 }
 @media (max-width: 500px) {
   h1 {
     font-size: 36px;
     padding: 5px;
   }
   li {
     padding: 5px;
     display: block;
   }
 }
